<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426287034462-a6vjb2in2a9cjpre6apndlcd48rkhfcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426287034462-a6vjb2in2a9cjpre6apndlcd48rkhfcb</string>
	<key>API_KEY</key>
	<string>AIzaSyC9MQOsF8srCmitEJmwap6kQO7EwpikAd8</string>
	<key>GCM_SENDER_ID</key>
	<string>426287034462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learnyoucode.higherWireGsu</string>
	<key>PROJECT_ID</key>
	<string>higher-wire-app-db</string>
	<key>STORAGE_BUCKET</key>
	<string>higher-wire-app-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426287034462:ios:d6efb1db0379d7b34704cf</string>
	<key>DATABASE_URL</key>
	<string>https://higher-wire-app-db.firebaseio.com</string>
</dict>
</plist>